@using UI.Properties;

@{
  ViewBag.Title = Resources.Contact;
}


<div class="container col-12">
  <br />
  <br />
  <div class="jumbotron jumbotron-fluid shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container">
      <h1 class="display-4">Contatos</h1>
      <br />
      <div class="row">
        <div class="col-sm">
          <div class="col">
            <p class="font-weight-bold">Telefone</p>
            <i class="fas fa-phone "></i>
            <a>(49) 3251-3500</a>
          </div>
          <br />
          <div class="col">
            <p class="font-weight-bold">WhatsApp Business</p>
            <i class="fab fa-whatsapp"></i>
            <a>(49) 3251-3509</a>
          </div>
          <br />
          <div class="col">
            <p class="font-weight-bold">E-mail</p>
            <i class="fas fa-at"></i>
            <a class="text-decoration-none">profuzzy@profuzzy.com.br</a>
          </div>
        </div>

        <div class="col-sm">
          <div class="col">
            <p class="font-weight-bold">Redes Sociais</p>
            <i class="fab fa-facebook-square"></i>
            <a class="text-decoration-none text-dark" href="https://pt-br.facebook.com/profuzzyoficial/" target="_blank">Visite nosso página no Facebook!</a>
          </div>
          <br />
          <div class="col">
            <i class="fab fa-google"></i>
            <a class="text-decoration-none text-dark" href="https://www.profuzzy.com.br/" target="_blank">Visite nosso site!</a>
          </div>
          <br />
          <div class="col">
            <p class="font-weight-bold">Blog</p>
            <i class="fab fa-blogger-b"></i>
            <a class="text-decoration-none text-dark" href="https://www.profuzzy.com.br/posts/" target="_blank">Visite nosso blog!</a>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>

  <div>
    <iframe class="maps" src="https://www.google.com/maps/d/u/0/embed?mid=1FLB7LsaANzx5SI-DrAMVdPWdaZDCnkTf" target="_blank" width="120%" height="600" frameborder="0" style="border-radius:5px" allowfullscreen></iframe>
  </div>
  <hr />
</div>
