@{
  ViewBag.Title = "Profuzzy";
}
<body class="animate">

  <br />
  <div class="container">
    <div class="jumbotron shadow-lg p-1 mb-5 bg-white rounded">
      <div class="media">
        <div class="container">
          <div class="row">
            <div class="col"></div>
            <div class="col-6">
              <img src="~/Content/static/Profuzzy.png" class="mr-2">
            </div>
            <div class="col"></div>
            <div class="w-100 col-xl-12">
              <h2 class="mt-0 text-success">Optimize</h2>
              Optimize é uma aplicação informatizada desenvolvida para facilitar e agilizar o dimensionamento e a racionalização da oferta de serviços de linhas de transporte público coletivo urbano de passageiros.  
              <br />
              <br />
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <!-- card -->
        <div class="card" style="width: 21rem;">
          <div class="card-body">
            <h6 class="card-title">Diagnóstico</h6>
            <p class="card-text">Diagnóstico da oferta de serviços de Linha de Ônibus.</p>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 21rem;">
          <div class="card-body">
            <h6 class="card-title">Dimensionamento</h6>
            <p class="card-text">Dimensionamento da oferta de serviços em Linha de ônibus.</p>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 21rem;">
          <div class="card-body">
            <h6 class="card-title">Simulação</h6>
            <p class="card-text">Simulação da programação operacional de Linha de Ônibus.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
