* { margin: 0; padding:0; box-sizing: border-box; outline: 0; transition: all 0.1s; }
body { width: 100%; height: 100%; padding-top: 3%; font-size: 15px; background: var(--main-color); }
.animate {
    display: flex;
    background-image: url('static/img1.jpeg');
    background-repeat: repeat;
    background-size: 100%;
    animation-name: animate;
    animation-duration: 16s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}
@keyframes animate {
    30% { background-image: url("static/img2.jpg"); }
    60% { background-image: url("static/img1.jpeg"); }
    /*80% { background-image: url("static/img4.jpg"); }*/
    /*100% { background-image: url("static/img5.jpg"); }*/
}
.maps{ position: absolute; left: -10%; }
/*Btn Table na mesma linha e tamanho*/
.in-line { white-space: nowrap;  }
.in-line { width: 22%; }
.in-line > a{ text-align: center;  width: 33%; }
/*Configurando tabelas dados das tabelas*/
.left-widt {  margin-left: -10%; width: 120%; }
/*Deixando maior*/
.left-widt > table { width: 115%; }
/*Deixando coluna dos btn menor*/
.left-smaller { width: 18%; }
/* distancia das bordas das tabelas */
.table td { padding: 0.5% 0.5% 0.5% 0.5%; }
/*Alinhamdo titulo das tabelas*/
.align-title-table th{ margin-top: 1%; text-align: center; }
/*Margin superior*/
.margin-top { margin-top: 1.3%; }
/*Reduzir tamanho dos btn das tabelas*/
.btn-slin{ width: 100%; margin-top: 1.5%; }
/* Efeito btn */
tr, td .btn-detail { width: 33%; }
/*Filtros*/
.filters { margin: -1% 0%; }
.filters, select, input { white-space: nowrap; margin-right: 10px; }
/* Arrumando cursor de mão nos links */
.dropdown-menu, a { cursor: pointer; }
/*Arruma alguns dados do Modelo de Dimensionamento (Linha e Hora Inícial) */
.line {width: 20%; margin-right: 40px;}
/*Error Page*/
/* h1 -> title-error*/
.title-error {
    margin: 100px auto 0 auto;
    color: var(--stroke-color);
    font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 200;
    text-align: center;
}
/* h2 -> subtitle-error codigo referencia ao pessoal do GIT */
.subtitle-error {
    margin: 20px auto 30px auto;
    font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
}
/* h1, h2 */
h1, h2 {
    -webkit-transition: opacity 0.5s linear, margin-top 0.5s linear; /* Safari */
    transition: opacity 0.5s linear, margin-top 0.5s linear;
}
/* .loading h1, .loading h2 */
.loading h1, .loading h2 { margin-top: 0px; opacity: 0; }
.gears { position: relative; margin: 0 auto; width: auto; height: 0; }
.gear { position: relative; z-index: 0; width: 120px; height: 120px; margin: 0 auto; border-radius: 50%; background: var(--stroke-color); }
.gear:before {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 2;
    content: "";
    border-radius: 50%;
    background: var(--main-color);
}
.gear:after {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 3;
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid var(--stroke-color);
    box-sizing: border-box;
    background: var(--main-color);
}
.gear.one { left: -130px; }
.gear.two { top: -75px; }
.gear.three { top: -235px; left: 130px; }
.gear .bar {
    position: absolute;
    left: -15px;
    top: 50%;
    z-index: 0;
    width: 150px;
    height: 30px;
    margin-top: -15px;
    border-radius: 5px;
    background: var(--stroke-color);
}
.gear .bar:before {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    content: "";
    border-radius: 2px;
    background: var(--main-color);
}
.gear .bar:nth-child(2) { transform: rotate(60deg); -webkit-transform: rotate(60deg); }
.gear .bar:nth-child(3) { transform: rotate(120deg); -webkit-transform: rotate(120deg); }
@-webkit-keyframes clockwise {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes anticlockwise {
    0% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-webkit-keyframes clockwiseError {
    0% { -webkit-transform: rotate(0deg);  }
    20% { -webkit-transform: rotate(30deg); }
    40% { -webkit-transform: rotate(25deg); }
    60% { -webkit-transform: rotate(30deg); }
    100% {  -webkit-transform: rotate(0deg); }
}
@-webkit-keyframes anticlockwiseErrorStop {
    0% { -webkit-transform: rotate(0deg); }
    20% {  -webkit-transform: rotate(-30deg); }
    60% { -webkit-transform: rotate(-30deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-webkit-keyframes anticlockwiseError {
    0% { -webkit-transform: rotate(0deg); }
    20% { -webkit-transform: rotate(-30deg); }
    40% { -webkit-transform: rotate(-25deg); }
    60% { -webkit-transform: rotate(-30deg); }
    100% { -webkit-transform: rotate(0deg); }
}
.gear.one { -webkit-animation: anticlockwiseErrorStop 2s linear infinite; }
.gear.two { -webkit-animation: anticlockwiseError 2s linear infinite; }
.gear.three { -webkit-animation: clockwiseError 2s linear infinite; }
.loading .gear.one, .loading .gear.three { -webkit-animation: clockwise 3s linear infinite; }
.loading .gear.two { -webkit-animation: anticlockwise 3s linear infinite; }
ul.dropdown-menu:hover { display: block; }
.dropdown-submenu > .dropdown-menu { top: 0; left: 100%; margin-top: -6px; }
.dropdown-submenu { position: relative; }
.dropdown-submenu a::after { transform: rotate(-90deg); position: absolute; right: 6px; top: .8em; }
.dropdown-submenu .dropdown-toggle:active{ background-color: #fff; }
/* Mudar a cor do icone da Ancora */
.fas { cursor: pointer; text-decoration: none; }
.fas:hover { color: #000; text-decoration: none; }
.fa-info-circle { color: #fff; font-size: 19px; margin: 0 0 0 -1%; }
.fa-info-circle:hover { color: #acacac; font-size: 19px; margin: 0 0 0 -1%; }
/* Trabalhando distância entre os items da lista */
.dropdown-item {
    margin-left: -9% !important;
}
.anchor, i { padding: 5% -2% 5% 3%;  margin-left: 15%; }
.fa-anchor { font-size: 8px; color: #000; text-decoration: none; }
.fa-anchor:hover { font-size: 12px; color: #000; text-decoration: none; }

/* 
    Texto auxiliar ao por mouse sobre a Ancora (hover) 
    Referencia do code: https://pt.stackoverflow.com/questions/149356/visualizar-texto-ao-posicionamento-do-mouse-sobre-palavra-ou-imagem
    Editado por mim - Gabriel Ramos (Bed)
*/
[data-tooltip] { position: relative; font-weight: bold; }
[data-tooltip]:after {
    display: none;
    position: absolute;
    top: -5px;
    padding: 5px;
    border-radius: 3px;
    left: calc(100% + 2px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #28a745;
    color: White;
}
[data-tooltip]:hover:after { display: block; }
